/* ========== MEDIA QUERIES ==========*/
@media screen and (max-width: 320px) {
    .header__search {
      width: 70%;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      padding: 1rem 3rem 0 6rem;
    }
  
    .header {
      padding: 0 3rem 0 6rem;
    }
  
    .header__container {
      height: calc(var(--header-height) + .5rem);
    }
  
    .header__search {
      width: 300px;
      padding: .55rem .75rem;
    }
  
    .header__toggle {
      display: none;
    }
  
    .header__logo {
      display: block;
    }
  
    .header__img {
      width: 40px;
      height: 40px;
      order: 1;
    }
  
    .nav {
      left: 0;
      padding: 1.2rem 1.5rem 0;
      width: 68px;
    }
  
    .nav__items {
      row-gap: 1.7rem;
    }
  
    .nav__icon {
      font-size: 1.3rem;
    }
  
    .nav__logo-name, 
    .nav__name, 
    .nav__subtitle, 
    .nav__dropdown-icon {
      opacity: 0;
      transition: .3s;
    }
  
    .nav:hover {
      width: var(--nav-width);
    }
  
    .nav:hover .nav__logo-name {
      opacity: 1;
    }
    .nav:hover .nav__subtitle {
      opacity: 1;
    }
    .nav:hover .nav__name {
      opacity: 1;
    }
    .nav:hover .nav__dropdown-icon {
      opacity: 1;
    }
  }
  