/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;

  /*========== Colors ==========*/
  /* Main Color Scheme */
  --first-color: #5D6D7E; 
  --first-color-light: #E1E8EB;
  
  /* Title and Text */
  --text-color: #7F8C8D; 
  --text-color-light: #BDC3C7; 
  
  /* Body and Background */
  --body-color: #F4F6F7; 
  --container-color: #FFFFFF; 
  
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

/* Dark mode overrides */
.dark-mode {
  /* Main Color Scheme */
  --first-color: #A3B1C6; /* Soft Grey-Blue (used for highlights, links, etc.) */
  --first-color-light: #5C6D7C; /* Slightly darker Grey-Blue */

  /* Title and Text */
  --title-color: #FFFFFF; /* Pure White (for titles) */
  --text-color: #D1D9E6; /* Light Grey (for general text) */
  --text-color-light: #A5B4C4; /* Lighter Grey for secondary text */

  /* Body and Background */
  --body-color: #1E2328; /* Very Dark Greyish Blue (for the background) */
  --container-color: #262C34; /* Dark Grey for containers */
  --highlight-color: #3F8BFC; /* Soft Blue for highlights */
}
